[Unit]
Description=remote telegram shell service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/remoteTelegramShell-master/pyTelegramShellBot.py
WantedBy=multi-user.target