[Unit]
Description=remote telegram shell service
After=multi-user.target

[Service]
Type=simple
KillMode=process

Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitInterval=2min
ExecStart=/usr/bin/python3 /opt/remoteTelegramShell-master/pyTelegramShellBot.py
WorkingDirectory=/opt/remoteTelegramShell-master
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target